@page
@model webapphotel.Pages.StaffList.IndexModel
<partial name="_Notification" />
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylsheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <style>
        #myTable thead th {
            color: white;
        }

        #myTable tbody tr td {
            color: white;
        }
    </style>

</head>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Staff List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Add new Staff
            </a>
        </div>
    </div>
    <br /><br />
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th> Name</th>
                <th> PhoneNumber</th>
                <th>Address</th>
                <th>DateOfHirement</th>
                <th>Email</th>
                <th>JobTitle</th>
                <th>MonthlySalary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var obj in Model.StaffList)
            {
                <tr>
                    <td width="20%">@obj.Id</td>
                    <td width="40%">@obj.Name</td>
                    <td width="60%">@obj.PhoneNumber</td>
                    <td width="20%">@obj.Address</td>
                    <td width="20%">@obj.DateOfHirement</td>
                    <td width="20%">@obj.Email</td>
                    <td width="20%">@obj.JobTitle</td>
                    <td width="20%">@obj.MonthlySalary</td>
                    <td>

                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>
                            </a>
                            <button class="btn btn-secondary mx-2 upload-btn" data-staff-id="@obj.Id">
                                <i class="bi bi-upload"></i> Upload
                            </button>
                            <input type="file" class="d-none file-input" data-staff-id="@obj.Id"/>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    let table = new DataTable('#myTable', {

    });
</script>
<script>
          $(document).ready(function () {
        $(".upload-btn").click(function () {
            var fileInput = $(this).siblings(".file-input");
            fileInput.trigger("click");

            fileInput.change(function () {
                var file = this.files[0];

                if (!file) {
                    alert("No file selected!");
                    return;
                }

                var formData = new FormData();
                formData.append("UploadedFile", file); // Make sure the name matches the C# property

                console.log("Uploading file:", file.name);

                $.ajax({
                    url: "/FileShare/Upload",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log("Success:", response);
                        alert("File uploaded successfully: " + response.filePath);
                    },
                    error: function (xhr) {
                        console.error("Error uploading file:", xhr.responseText);
                        alert("Error uploading file: " + xhr.responseText);
                    }
                });
            });
        });
    });


</script>